body {
  background-color: lightblue;  /* or any color you want */
  color: white;
}

.field-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid white;
  padding: 20px;
  text-decoration: none;
  color: blue;
  display: inline-block;
}

.card:hover {
  background: white;
  color: green;
}

.topic-list li {
  margin-bottom: 10px;
}

.topic-list a {
  color: white;
  text-decoration: none;
}

.topic-list a:hover {
  text-decoration: underline;
}